
<div class="container">
  <h1>All cocktails</h1>
  <%= link_to "Add new", new_cocktail_path %>

  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-10 col-sm-4 col-md-3">
        <div class="card-cocktail">
          <div class="card-photo">
            <% if cocktail.photo? %>
              <%= cl_image_tag cocktail.photo.path, width: 200, height: 150, crop: :fill %>
            <% else %>
              <%= image_tag 'default_cocktail.jpg', style:"height: 150px; width: 200px;" %>
            <% end %>
          </div>
          <div class="card-description">
            <h3><%= cocktail.name %></h3>
            <%= link_to "", cocktail_path(cocktail), id:"cocktail-link" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
