
<div class="container">

<h2><%= @cocktail.name %></h2>
<%= link_to "Back to cocktails", root_path %>
<% @cocktail.doses.each do |dose| %>
  <% if dose.id %>
    <p><%= dose.description %> <%= dose.ingredient.name %></p>
    <% if policy(dose).destroy?  %>
      <p><%= link_to "delete", dose_path(dose), method: :delete %></p>
    <% end %>
    <p>**********</p>
  <% end %>
<% end %>

</div>

<% if @cocktail.user == current_user %>
  <%= render 'doses/form'%>
<% end %>

