
<div class="container">

<h2><%= @cocktail.name %></h2>
<%= link_to "Back to cocktails", root_path %>

<% @cocktail.doses.each do |d| %>
  <% if d.id %>
    <p><%= d.description %> <%= d.ingredient.name %></p>
    <p><%= link_to "delete", dose_path(d), method: :delete %></p>
    <p>**********</p>
  <% end %>
<% end %>

</div>
<%= render 'doses/form'%>

